<div class="row">
  <div class="col-md-6">
    <h3>Thursday, Apr 28</h3>
    <table class="table table-striped">
      <tr> <td>9:00</td>  <td><a href="https://erickmartins.github.io/training/ImageAnalysis.html" target="_blank">Image formation and introduction to ImageJ/Fiji</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Adjustments, measurements, stacks, colors</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday, May 5</h3>
    <table class="table table-striped">
      <tr> <td>9:00</td>  <td><a href="https://erickmartins.github.io/training/IntroProgrammingIJ.html" target="_blank">Introduction to programming in Fiji macro language</a>*</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://imagej.nih.gov/ij/developer/macro/functions.html" target="_blank">Introduction to programming in Fiji macro language</a> (Continued)</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">  
  <div class="col-md-6">
    <h3>Thursday, May 12</h3>
    <table class="table table-striped">
      <tr> <td>9:00</td>  <td>Segmentation, Colocalization, Tracking</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Tracking, batch processing, introduction to scripting</td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday, May 19</h3>
    <table class="table table-striped">
      <tr> <td>9:00</td>  <td><a href="https://erickmartins.github.io/training/macroWorkshop.html" target="_blank">Fiji macro workshop – building your first macro, step by step</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Fiji macro workshop (Continued)</td> </tr>
      <tr> <td>15:50</td>  <td><a href="" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>11:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
* for those who already know how to code: variables, conditionals, loops, etc. for scripting on day 2

